.calculator {
    width: 300px;
    height: 600px;
    margin: 10px auto;
    padding: 0px 25px;
    justify-content: center;
    background: linear-gradient(rgb(30,30,30),rgb(0,0,0));
    border-radius: 15px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 1px 10px 20px 0;
}

.branding {
  text-align: center;
  color: white;
}

.title {
  font-size: 25px; 
}

.model {
  font-size: 15px;
}

.display {
  width: 270px;
  height: 90px;
  margin: 3px auto;
  text-align: right; 
  
  font-size: 30px;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.row {
  display: flex;
}

button {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border-width: 0px;
    margin: 5px 3px;
    font-size: 30px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.operator, .equals {
  background: linear-gradient(rgba(255, 136, 0, 0.932), rgba(255, 136, 0, 0.8));
  box-shadow: 0 4px 1px 0 rgba(255, 136, 0, 0.65); 
}

.ctrl, .percent {
  background: linear-gradient(rgba(128, 128, 128, 1.0), rgba(128, 128, 128, 0.8));
  box-shadow: 0 4px 1px 0 rgba(128, 128, 128, 0.7); 
  color: black;
}

.number {
  background: linear-gradient(rgba(128, 128, 128, 0.5), rgba(128, 128, 128, 0.3)); 
  box-shadow: 0 4px 1px 0 rgba(128, 128, 128, 0.25); 
}

#zero {
  width: 140px;
  background: linear-gradient(rgba(128, 128, 128, 1.0), rgba(128, 128, 128, 0.8));
  box-shadow: 0 4px 1px 0 rgba(128, 128, 128, 0.7); 
  border-radius: 35px;    
}
